* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.hide {
  display: none;
}

.showFlex {
  display: flex;
}

#startRoomBg {
  background-image: url(/imgs/backgrounds/startRoom.png);
  background-position: center;
  background-size: cover;
  height: 100svh;
  width: 100%;
}

#otherRoomBg {
  background-image: url(/imgs/backgrounds/otherRoomBg.png);
  background-position: center;
  background-size: cover;
  height: 100svh;
  width: 100%;
}

#displayText {
  width: 100%;
  height: 10vh;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 32%;
}

.arrowScale {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 50px;
  height: 30px;
}

.arrowScale:hover {
  cursor: pointer;
  scale: 1.5;
}

#inventoryContainer {
  position: absolute;
  top: 5%;
  left: 89%;
}

.inventorySlot {
  height: 10vh;
  width: 120px;
  background: rgba(82, 82, 82, 0.2);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

#blueKey {
  cursor: pointer;
}

.blueKeyDesk {
  position: absolute;
  left: -880%;
  top: 620%;
  z-index: 1;
  transform: rotate(-10deg);
}

#lockPick {
  cursor: pointer;
}

.lockPickBookshelf {
  position: absolute;
  left: -850%;
  top: 500%;
  z-index: 1;
  filter: contrast(2);
  transform: rotate(-10deg);
}

.redKeyBed {
  position: absolute;
  left: -880%;
  top: 600%;
  z-index: 1;
  transform: rotate(40deg);
}

.greenKeyFloor {
  position: absolute;
  top: 320%;
  left: -1400%;
  cursor: pointer;
  transform: rotate(-120deg);
}

.noteSheetFloor {
  position: absolute;
  top: 285%;
  left: -150%;
  transform: rotate3d(1, 1, 1, 25deg);
  cursor: pointer;
}

#blueDoor {
  cursor: pointer;
  position: absolute;
  top: 57.5%;
  left: 20%;
  scale: 2;
}

#blueDoorOpen {
  position: absolute;
  top: 57.5%;
  left: 20%;
  scale: 2;
}

#openBlueDoor {
  cursor: pointer;
  position: absolute;
  top: 57.5%;
  left: 20%;
  scale: 2;
  transition: transform 1s, left 1s;
}

#openBlueDoor:hover {
  left: 18.6%;
  transform: rotate3d(0, 30, 0, 45deg);
  transition: transform 1s, left 1s;
}

#usedBlueDoor {
  position: absolute;
  top: 57.5%;
  left: 20%;
  scale: 2;
}

#redDoor {
  cursor: pointer;
  position: absolute;
  top: 57.5%;
  left: 40%;
  scale: 2;
}

#redDoorOpen {
  position: absolute;
  top: 57.5%;
  left: 40%;
  scale: 2;
}

#openRedDoor {
  cursor: pointer;
  position: absolute;
  top: 57.5%;
  left: 40%;
  scale: 2;
  transition: transform 1s, left 1s;
}

#openRedDoor:hover {
  left: 38.6%;
  transform: rotate3d(0, 30, 0, 45deg);
  transition: transform 1s, left 1s;
}

#usedRedDoor {
  position: absolute;
  top: 57.5%;
  left: 40%;
  scale: 2;
}

#brownDoor {
  cursor: pointer;
  position: absolute;
  top: 57.5%;
  left: 60%;
  scale: 2;
  transition: transform 1s, left 1s;
}

#brownDoorOpen {
  position: absolute;
  top: 57.5%;
  left: 60%;
  scale: 2;
}

#brownDoor:hover {
  left: 58.6%;
  transform: rotate3d(0, 30, 0, 45deg);
  transition: transform 1s, left 1s;
}

#usedBrownDoor {
  position: absolute;
  top: 57.5%;
  left: 60%;
  scale: 2;
}

#greenDoor {
  cursor: pointer;
  position: absolute;
  top: 57.5%;
  left: 80%;
  scale: 2;
}

#greenDoorOpen {
  position: absolute;
  top: 57.5%;
  left: 80%;
  scale: 2;
}

#openGreenDoor {
  cursor: pointer;
  position: absolute;
  top: 57.5%;
  left: 80%;
  scale: 2;
  transition: transform 1s, left 1s;
}

#openGreenDoor:hover {
  left: 78.6%;
  transform: rotate3d(0, 30, 0, 45deg);
  transition: transform 1s, left 1s;
}

#bookshelf {
  position: absolute;
  top: 70%;
  left: 20%;
  scale: 2;
}

#bookshelf:hover {
  cursor: pointer;
  scale: 2.2;
}

#bookshelfDeskFirst {
  position: absolute;
  top: 70%;
  left: 20%;
  scale: 2;
}

#bookshelfDeskFirst:hover {
  cursor: pointer;
  scale: 2.2;
}

#exploreBookshelf {
  position: absolute;
  top: 65%;
  left: 45%;
  scale: 2.2;
}

#usedBookshelf {
  position: absolute;
  top: 70%;
  left: 20%;
  scale: 1.8;
}

#desk {
  position: absolute;
  top: 80%;
  left: 45%;
  scale: 2;
}

#desk:hover {
  cursor: pointer;
  scale: 2.2;
}

#deskOpen {
  position: absolute;
  top: 75%;
  left: 45%;
  scale: 2.2;
}

#deskBookshelfFirst {
  position: absolute;
  top: 80%;
  left: 45%;
  scale: 2;
}

#deskBookshelfFirst:hover {
  cursor: pointer;
  scale: 2.2;
}

#usedDesk {
  position: absolute;
  top: 80%;
  left: 45%;
  scale: 1.8;
}

#piano {
  position: absolute;
  top: 70%;
  left: 75%;
  scale: 2.2;
}

#piano:hover {
  cursor: pointer;
  scale: 2.4;
}

#playPiano {
  position: absolute;
  top: 55%;
  left: 45%;
  scale: 2.2;
}

#bed {
  position: absolute;
  top: 75%;
  left: 30%;
  scale: 1.2;
}

#bedSideTable {
  position: absolute;
  top: 82%;
  left: 20%;
  scale: 1.2;
}

.ipodContainerTable {
  cursor: pointer;
  position: absolute;
  top: 78%;
  left: 22%;
  transform: rotate3d(10, -1, 10, 60deg);
  scale: 0.45;
  z-index: 2;
}

#ipodSvg {
  width: 60px;
}

.blueFill:hover {
  fill: aliceblue;
}

#menuBackBtn {
  cursor: pointer;
  position: absolute;
  left: 38.4%;
  top: 53%;
  padding: 1rem 2.5rem;
  background-color: transparent;
  border: none;
}

#playPauseBtn {
  cursor: pointer;
  position: relative;
  left: 45%;
  top: -165px;
  padding: 1rem 1.85rem;
  border: none;
  background-color: transparent;
}

#ipodInstruction {
  font-size: 4.5rem;
  width: 630px;
  z-index: 2;
  position: absolute;
  top: 10%;
  left: 62%;
  text-align: left;
}

#photoContainer {
  position: relative;
  top: -979.5px;
  left: -70.2px;
}

#ipodPhoto {
  position: absolute;
  top: 20%;
  left: 39.95%;
  width: 501px;
  height: 350px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 2;
}

#aboutScreen {
  position: absolute;
  top: 17%;
  left: 37%;
  width: 501px;
  height: 350px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 2;
}

.forward,
.back {
  cursor: pointer;
  position: absolute;
  top: 130px;
  left: 41%;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 3rem;
  z-index: 2;
}

.forward {
  left: 59%;
}

.forward:hover,
.back:hover {
  color: rgba(99, 178, 247, 0.57);
}

#ipodPlayer {
  position: relative;
  top: -930px;
}

#albumCover {
  position: absolute;
  top: -15px;
  left: 38.5%;
  width: 200px;
  z-index: 2;
}

#albumInfo {
  position: absolute;
  top: 15px;
  left: 47.5%;
  z-index: 2;
}

.trackInfo {
  font-size: 1.55rem;
  padding: 0.5rem;
}

#playTimeBar {
  position: absolute;
  top: 215px;
  left: 38.5%;
  appearance: none;
  width: 300px;
  height: 25px;
  background-color: rgb(173, 210, 230);
  z-index: 2;
}

#playTimeBar::-webkit-slider-thumb {
  appearance: none;
  background-color: rgb(68, 68, 68);
  height: 25px;
  width: 20px;
}

.time {
  font-size: 1.55rem;
  z-index: 2;
}

#currentTime {
  position: absolute;
  top: 255px;
  left: 38.4%;
}

#duration {
  position: absolute;
  top: 255px;
  left: 49.1%;
}

#playMusicBtn {
  padding: 1.25rem 2.2rem;
  position: absolute;
  top: 83.5%;
  left: 49%;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
  border: none;
}

/* Lockpick minigame */

#lockPickGameContainer {
  height: 100svh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.079);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 1;
}

.blueRoom {
  background-color: #aec6cf;
}
.redRoom {
  background-color: #fe6161;
}
.greenRoom {
  background-color: #77dd77;
}

#gameInfo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 450px;
  background-color: rgba(255, 255, 255, 0.226);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.496);
  z-index: 1;
}

#gameDescription {
  font-size: 2.1rem;
  width: 650px;
  color: #3e3e3e;
}

.gameBtn {
  padding: 1.2rem 5rem;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.303);
  color: #3e3e3e;
  border: solid 1.5px #3e3e3e39;
  border-radius: 7px;
}

.gameBtn:hover {
  background-color: rgba(255, 255, 255, 0.556);
  border: solid 1.5px #3e3e3e5f;
}

.outcomeText {
  font-size: 8rem;
  display: none;
}

#countDownNumber {
  position: absolute;
  left: 64%;
  top: 20%;
  font-size: 8rem;
  color: white;
}

#lockBodyBg {
  height: 100svh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

#lockContainer {
  position: absolute;
  width: 450px;
  height: 450px;
}

#lockPickArm {
  position: absolute;
  left: 48.3%;
  top: 5.8%;
  width: 15px;
  height: 200px;
  border-radius: 50px;
  background-color: rgb(245, 245, 245);
  transform-origin: bottom;
  z-index: 1;
}

#outerCircle {
  width: 100%;
  height: 100%;
  border: 20px solid rgba(255, 255, 255, 0.476);
  outline: rgba(255, 255, 255, 0.612) solid;
  border-radius: 100%;
}

.shakeCircle:hover {
  animation: shake 3s ease-in-out;
}
@keyframes shake {
  0%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  1%,
  2% {
    transform: translate(1px, 4px) rotate(0.5deg);
  }
  3%,
  4% {
    transform: translate(4px, 1px) rotate(0.5deg);
  }
  5%,
  6% {
    transform: translate(6px, 2px) rotate(0.5deg);
  }
  7%,
  8% {
    transform: translate(2px, 6px) rotate(0.5deg);
  }
  9%,
  10% {
    transform: translate(3px, 3px) rotate(0.5deg);
  }
  11%,
  12% {
    transform: translate(5px, 5px) rotate(0.5deg);
  }
  13%,
  14% {
    transform: translate(0, 0) rotate(0deg);
  }
  15%,
  16% {
    transform: translate(1px, 4px) rotate(0.5deg);
  }
  17%,
  18% {
    transform: translate(4px, 1px) rotate(0.5deg);
  }
  19%,
  20% {
    transform: translate(6px, 2px) rotate(0.5deg);
  }
  21%,
  22% {
    transform: translate(2px, 6px) rotate(0.5deg);
  }
  23%,
  24% {
    transform: translate(3px, 3px) rotate(0.5deg);
  }
  25%,
  26% {
    transform: translate(5px, 5px) rotate(0.5deg);
  }
  27%,
  28% {
    transform: translate(0, 0) rotate(0deg);
  }
  29%,
  30% {
    transform: translate(1px, 4px) rotate(0.5deg);
  }
  31%,
  32% {
    transform: translate(4px, 1px) rotate(0.5deg);
  }
  33%,
  34% {
    transform: translate(6px, 2px) rotate(0.5deg);
  }
  35%,
  36% {
    transform: translate(2px, 6px) rotate(0.5deg);
  }
  37%,
  38% {
    transform: translate(3px, 3px) rotate(0.5deg);
  }
  39%,
  40% {
    transform: translate(5px, 5px) rotate(0.5deg);
  }
  41%,
  42% {
    transform: translate(0, 0) rotate(0deg);
  }
  43%,
  44% {
    transform: translate(1px, 4px) rotate(0.5deg);
  }
  45%,
  46% {
    transform: translate(4px, 1px) rotate(0.5deg);
  }
  47%,
  48% {
    transform: translate(6px, 2px) rotate(0.5deg);
  }
  49%,
  50% {
    transform: translate(2px, 6px) rotate(0.5deg);
  }
  51%,
  52% {
    transform: translate(3px, 3px) rotate(0.5deg);
  }
  53%,
  54% {
    transform: translate(5px, 5px) rotate(0.5deg);
  }
  55%,
  56% {
    transform: translate(0, 0) rotate(0deg);
  }
  57%,
  58% {
    transform: translate(1px, 4px) rotate(0.5deg);
  }
  59%,
  60% {
    transform: translate(4px, 1px) rotate(0.5deg);
  }
  61%,
  62% {
    transform: translate(6px, 2px) rotate(0.5deg);
  }
  63%,
  64% {
    transform: translate(2px, 6px) rotate(0.5deg);
  }
  65%,
  66% {
    transform: translate(3px, 3px) rotate(0.5deg);
  }
  67%,
  68% {
    transform: translate(5px, 5px) rotate(0.5deg);
  }
  69%,
  70% {
    transform: translate(0, 0) rotate(0deg);
  }
  71%,
  72% {
    transform: translate(1px, 4px) rotate(0.5deg);
  }
  73%,
  74% {
    transform: translate(4px, 1px) rotate(0.5deg);
  }
  75%,
  76% {
    transform: translate(6px, 2px) rotate(0.5deg);
  }
  77%,
  78% {
    transform: translate(2px, 6px) rotate(0.5deg);
  }
  79%,
  80% {
    transform: translate(3px, 3px) rotate(0.5deg);
  }
  81%,
  82% {
    transform: translate(5px, 5px) rotate(0.5deg);
  }
  83%,
  84% {
    transform: translate(0, 0) rotate(0deg);
  }
  85%,
  86% {
    transform: translate(1px, 4px) rotate(0.5deg);
  }
  87%,
  88% {
    transform: translate(4px, 1px) rotate(0.5deg);
  }
  89%,
  90% {
    transform: translate(6px, 2px) rotate(0.5deg);
  }
  91%,
  92% {
    transform: translate(2px, 6px) rotate(0.5deg);
  }
  93%,
  94% {
    transform: translate(3px, 3px) rotate(0.5deg);
  }
  95%,
  96% {
    transform: translate(5px, 5px) rotate(0.5deg);
  }
  97%,
  98% {
    transform: translate(0, 0) rotate(0deg);
  }
  99% {
    transform: translate(1px, 4px) rotate(0.5deg);
  }
}

.success {
  animation: success 0.2s linear;
}

@keyframes success {
  0% {
    border: 20px solid #77dd77;
    outline: #77dd77;
  }

  100% {
    border: 20px solid white;
    outline: white;
  }
}

#dot {
  position: absolute;
  top: -14%;
  left: -50%;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.509);
  pointer-events: none;
  animation: expandMark 3s, shake 3s ease-in-out;
}

@keyframes expandMark {
  0%,
  15%,
  30%,
  45%,
  60%,
  75%,
  90% {
    background-color: #77dd77;
  }
  5%,
  20%,
  35%,
  50%,
  65%,
  80%,
  95% {
    background-color: rgba(236, 237, 234, 0.75);
  }

  10%,
  25%,
  40%,
  55%,
  70%,
  85%,
  100% {
    background-color: #77dd77;
  }
}

#innerCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: solid 3px rgba(255, 255, 255, 0.382);
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.203);
}

#pinContainer {
  justify-content: center;
  gap: 1.5rem;
  display: flex;
  position: absolute;
  top: 70%;
}

.pin {
  width: 20px;
  height: 60px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.65);
  margin-top: 4rem;
}

.pin.current {
  margin-top: 3rem;
  background-color: white;
  animation: pinDown 0.5s reverse;
}

.pin.done {
  background-color: #77dd77;
  animation: pinDone 0.5s, pinDown 0.5s;
}

@keyframes pinDone {
  0% {
    background-color: rgba(255, 255, 255);
  }
  25% {
    background-color: rgb(178, 206, 178);
  }
  50% {
    background-color: #a6d3a6;
  }
  75% {
    background-color: #98d698;
  }
  100% {
    background-color: #77dd77;
  }
}

.pin.down {
  animation: pinDown 0.5s ease;
}

@keyframes pinDown {
  0% {
    margin-top: 3rem;
  }
  10% {
    margin-top: 3.2rem;
  }
  20% {
    margin-top: 3.4rem;
  }
  30% {
    margin-top: 3.6rem;
  }
  40% {
    margin-top: 3.8rem;
  }
  50% {
    margin-top: 4rem;
  }
  60% {
    margin-top: 4.2rem;
  }
  70% {
    margin-top: 4.4rem;
  }
  80% {
    margin-top: 4.6rem;
  }
  90% {
    margin-top: 4.8rem;
  }
  100% {
    margin-top: 5rem;
  }
}

/* Piano */
#pianoBody {
  height: 100svh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.pianoContainer {
  display: flex;
  justify-content: center;
  align-items: end;
  text-align: center;
  width: 745px;
  height: 150px;
  background-color: rgb(59, 59, 59);
}

.whiteKey {
  list-style: none;
  background-color: white;
  width: 100%;
  height: 150px;
  border: solid 1.5px;
}

.whiteKey:hover {
  background-color: rgba(255, 252, 252, 0.85);
}

.whiteHover {
  background-color: rgba(255, 252, 252, 0.85);
}

.blackKey {
  color: white;
  list-style: none;
  background-color: black;
  height: 110px;
  width: 20px;
}
.blackKey:hover {
  background-color: rgb(99, 99, 99);
}

.blackHover {
  background-color: rgb(99, 99, 99);
}

#blackFR {
  position: absolute;
  left: 29.7%;
  top: 43.7%;
}
#blackGR {
  position: absolute;
  left: 33%;
  top: 43.7%;
}
#blackAR {
  position: absolute;
  left: 39.5%;
  top: 43.7%;
}
#blackCR {
  position: absolute;
  left: 42.8%;
  top: 43.7%;
}
#blackDR {
  position: absolute;
  left: 46.1%;
  top: 43.7%;
}

#blackFL {
  position: absolute;
  left: 52.75%;
  top: 43.7%;
}
#blackGL {
  position: absolute;
  left: 55.9%;
  top: 43.7%;
}
#blackAL {
  position: absolute;
  left: 59.2%;
  top: 43.7%;
}
#blackCL {
  position: absolute;
  left: 65.8%;
  top: 43.7%;
}
#blackDL {
  position: absolute;
  left: 69%;
  top: 43.7%;
}
