* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.hide {
  display: none;
}

.showFlex {
  display: flex;
}

#startRoomBg {
  background-image: url(/imgs/backgrounds/startRoom.png);
  background-position: center;
  background-size: cover;
  height: 100svh;
  width: 100%;
}

#otherRoomBg {
  background-image: url(/imgs/backgrounds/otherRoomBg.png);
  background-position: center;
  background-size: cover;
  height: 100svh;
  width: 100%;
}

#displayText {
  width: 100%;
  height: 10vh;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 32%;
}

#brownRoomBack {
  position: absolute;
  top: 5%;
  left: 5%;

  width: 50px;
  height: 30px;
}

.arrowScale:hover {
  cursor: pointer;
  scale: 1.5;
}

#inventoryContainer {
  position: absolute;
  top: 5%;
  left: 89%;
}

.inventorySlot {
  height: 10vh;
  width: 120px;
  background: rgba(82, 82, 82, 0.2);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

#lockPick {
  cursor: pointer;
}

.lockPickBookshelf {
  display: block;
  position: absolute;
  left: -850%;
  top: 500%;
  z-index: 1;
  filter: contrast(2);
  transform: rotate(-10deg);
}

#blueDoor {
  cursor: pointer;
  position: absolute;
  top: 57.5%;
  left: 20%;
  scale: 2;
}

#blueDoorOpen {
  position: absolute;
  top: 57.5%;
  left: 20%;
  scale: 2;
}

#openBlueDoor {
  cursor: pointer;
  position: absolute;
  top: 57.5%;
  left: 20%;
  scale: 2;
  transition: transform 1s, left 1s;
}

#openBlueDoor:hover {
  left: 18.6%;
  transform: rotate3d(0, 30, 0, 45deg);
  transition: transform 1s, left 1s;
}

#redDoor {
  cursor: pointer;
  position: absolute;
  top: 57.5%;
  left: 40%;
  scale: 2;
}

#redDoorOpen {
  position: absolute;
  top: 57.5%;
  left: 40%;
  scale: 2;
}

#openRedDoor {
  cursor: pointer;
  position: absolute;
  top: 57.5%;
  left: 40%;
  scale: 2;
  transition: transform 1s, left 1s;
}

#openRedDoor:hover {
  left: 38.6%;
  transform: rotate3d(0, 30, 0, 45deg);
  transition: transform 1s, left 1s;
}

#brownDoor {
  cursor: pointer;
  position: absolute;
  top: 57.5%;
  left: 60%;
  scale: 2;
  transition: transform 1s, left 1s;
}

#brownDoorOpen {
  position: absolute;
  top: 57.5%;
  left: 60%;
  scale: 2;
}

#brownDoor:hover {
  left: 58.6%;
  transform: rotate3d(0, 30, 0, 45deg);
  transition: transform 1s, left 1s;
}

#greenDoor {
  cursor: pointer;
  position: absolute;
  top: 57.5%;
  left: 80%;
  scale: 2;
}

#greenDoorOpen {
  position: absolute;
  top: 57.5%;
  left: 80%;
  scale: 2;
}

#openGreenDoor {
  cursor: pointer;
  position: absolute;
  top: 57.5%;
  left: 80%;
  scale: 2;
  transition: transform 1s, left 1s;
}

#openGreenDoor:hover {
  left: 78.6%;
  transform: rotate3d(0, 30, 0, 45deg);
  transition: transform 1s, left 1s;
}

#bookshelf {
  position: absolute;
  top: 70%;
  left: 20%;
  scale: 2;
}

#bookshelf:hover {
  cursor: pointer;
  scale: 2.2;
}

#exploreBookshelf {
  position: absolute;
  top: 65%;
  left: 45%;
  scale: 2.2;
}

#usedBookshelf {
  position: absolute;
  top: 70%;
  left: 20%;
  scale: 1.8;
}

#desk {
  position: absolute;
  top: 80%;
  left: 45%;
  scale: 2;
}

#desk:hover {
  cursor: pointer;
  scale: 2.2;
}

#piano {
  position: absolute;
  top: 70%;
  left: 75%;
  scale: 2.2;
}

#piano:hover {
  cursor: pointer;
  scale: 2.4;
}
